.x-grid3-col-deleteEventButton{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.x-grid3-col-editEventButton{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.x-grid3-col-remindCheckBox  {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}