.btn-refresh-list button {
    background: url("../icons/refresh_list.png") no-repeat center;
    height: 32px !important;
    width: 32px;
}

.btn-contact-new button {
    background: url("../icons/contact_new.png") no-repeat center;
    height: 32px !important;
    width: 32px;
}

.btn-contact-edit button {
    background: url("../icons/contact_edit.png") no-repeat center;
    height: 32px !important;
    width: 32px;
}

.btn-contact-delete button {
    background: url("../icons/contact_delete.png") no-repeat center;
    height: 32px !important;
    width: 32px;
}

.btn-add-16 button {
    background: url("../icons/add_16.png") no-repeat center;
    height: 16px !important;
    width: 16px;
}