.editNoticeDialog img[role="alert"] {
    left: 360px !important;
}

.table-row-red {
    background: red;
}

.x-grid3-hd-row .x-grid3-hd, .x-grid3-row .x-grid3-cell, .x-grid3-summary-row .x-grid3-cell {
    font: normal 13px arial, tahoma, helvetica, sans-serif !important;
}

.x-grid3-row-body {
    font-size: 13px !important;
}

.x-tree3-node-text {
    font-size: 14px;
}

.x-ftree2-selected {
    background-color: #bbddff !important;
}

.x-ftree2-node-over {
    background-color: #eeeeee !important;
}

.treeNodeNameEditor input {
    height: 19px !important;
}

.gwt-tree-row-white,
.gwt-tree-row-white-auto {
    background: #FFFFFF;
}

.gwt-tree-row-red,
.gwt-tree-row-red-auto {
    background: #FF0000;
}

.gwt-tree-row-yellow,
.gwt-tree-row-yellow-auto {
    background: #FFFF00;
}

.gwt-tree-row-green,
.gwt-tree-row-green-auto {
    background: #00AA00;
}

.gwt-tree-row-grey,
.gwt-tree-row-grey-auto {
    background: #999999;
}

.gwt-tree-row-grey .gwt-tree-row-green-auto,
.gwt-tree-row-grey-auto .gwt-tree-row-green-auto {
    background: #999999;
}

.vacancy-field-background{
    background: #FFFFFF;
}