* {
    font-family: tahoma, arial, sans-serif;
}

body, td, a, div, .p {
    font-family: Tahoma, Arial;
}

.one-widget-content-panel .x-toolbar {
    border-width: 0px;
}

.panel-header-left, .panel-header-right {
    font-family: Tahoma, Arial;
    color: #5e5e5e;
    padding: 10px 20px;
}

.panel-header-left {
    float: left;
}

.panel-header-right {
    float: right;
}

.lbl-header-1, .lbl-hello {
    font-size: 14px;
}

.lbl-header-2, .lbl-employee-name {
    font-size: 14px;
}

.one-widget-content-panel .lbl-doc {
    font-family: Tahoma, Arial;
    font-size: 18px;
    font-weight: bold;
    color: #5c8096;
}

.toolbar-tab .x-tab-strip-top .x-tab-right,
.toolbar-tab .x-tab-strip-top .x-tab-left,
.toolbar-tab .x-tab-strip-top .x-tab-strip-inner {
    background-image: url(../images/styled/tabs-sprite.png);
}

.toolbar-tab .x-tab-strip-inner {
    padding-top: 21px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
}

.toolbar-tab .x-tab-strip span.x-tab-strip-text {
    font-family: Tahoma, Arial;
    font-size: 14px;
    color: #8c8989;
    padding: 0;
}

.toolbar-tab .x-tab-strip-active span.x-tab-strip-text {
    font-size: 14px;
    color: #5e5e5e;
}

.toolbar-tab .x-tab-strip-active span.x-tab-strip-text {
    font-weight: normal;
}

.toolbar-tab ul.x-tab-strip-top {
    background: none;
    border-color: #93bed9;
    padding-top: 0px;
}

.toolbar-tab .x-tab-strip-top .x-tab-right {
    padding-left: 13px;
}

.toolbar-tab .x-tab-strip-top .x-tab-left {
    padding-right: 13px;
}

.toolbar-tab .x-tab-panel-header, .x-tab-panel-footer {
    background: #fff;
}

.toolbar-tab ul.x-tab-strip li {
    margin-left: 0;
}

.toolbar-tab .x-tab-strip-top .x-tab-strip-active .x-tab-right span.x-tab-strip-text {
    padding-bottom: 1px;
}

.toolbar-tab .x-tab-strip-top  li.btn-logout .x-tab-right,
.toolbar-tab  .x-tab-strip-top  li.btn-logout .x-tab-left,
.toolbar-tab  .x-tab-strip-top  li.btn-logout .x-tab-strip-inner {
    background-image: url(../images/styled/logout_tabs-sprite.png);
}

.toolbar-tab ul.x-tab-strip li.btn-logout {
    position: absolute;
    right: 0;
    top: 0;
}

.toolbar-tab ul.x-tab-strip  li.btn-logout span {
    color: #3f3f3f;
}

.one-widget-content-panel .x-grid3-header {
    background: #cbdde9;
}

.one-widget-content-panel .x-grid3-hd-row .x-grid3-hd {
    line-height: 15px;
    vertical-align: middle;
    border-left: 0;
    border-right: 1px solid #93bed9;
    border-bottom: 1px solid #93bed9;
}

.one-widget-content-panel td.x-grid3-hd-over .x-grid3-hd-inner,
.one-widget-content-panel  td.sort-desc .x-grid3-hd-inner,
.one-widget-content-panel  td.sort-asc .x-grid3-hd-inner,
.one-widget-content-panel  td.x-grid3-hd-menu-open .x-grid3-hd-inner {
    background-color: #c2daea;
    background-image: none;
}

.one-widget-content-panel .x-grid3-hd-btn {
    background-color: #c2daea;
    background-image: url(../images/styled/grid3-hd-btn.png);
}

.one-widget-content-panel .x-panel-noborder .x-panel-tbar-noborder .x-toolbar {
    border-width: 0;
    border-bottom: 0;
}

.ext-strict .x-grid3-cell-inner {
    font-family: tahoma;
    font-size: 14px;
    color: #3e3b3b;
    line-height: 28px;
    text-align: center;
}

.ext-strict .x-grid3-hd-inner {
    font-family: tahoma;
    font-size: 14px;
    color: #3e3b3b;
    line-height: 28px;
    text-align: center;
}

.one-widget-content-panel .x-grid3-row {
    border: 0;
}

.one-widget-content-panel .x-grid3-row-alt {
    background: #f9f9f9;
}

.one-widget-content-panel .x-grid3-row-over {
    border: 0;
    background-image: none !important;
    background-color: #e6f0f7 !important;
}

.one-widget-content-panel .x-grid3-row-selected {
    border: 0;
    background-image: none !important;
    background-color: #eaeaea !important;
}

.one-widget-content-panel .x-border {
    border: 1px solid #93bed9;
}

.one-widget-content-panel .x-toolbar {
    background: #e3eef5;
}

.one-widget-content-panel .x-panel-header {
    color: #5e5e5e;
    font-size: 18px;
    font-family: tahoma, arial;
    border: 1px solid #93bed9;
    background-color: #cbdde9;
    background-image: none;
    padding: 0 10px;
    padding-left: 15px;
    font-weight: normal;
    line-height: 34px;
    position: relative;
}

.one-widget-content-panel .x-form-text,
.one-widget-content-panel  textarea.x-form-field {
    background-color: white;
    background-image: url(../images/styled/text-bg.gif);
    border-color: #93bed9;
}

.one-widget-content-panel input[readonly] {
    background: #fff url(../images/styled/text-bg.gif) repeat-x left top;
    border-color: #93bed9;
}

.one-widget-content-panel .x-form-invalid,
.one-widget-content-panel textarea.x-form-invalid {
    background-color: white;
    background-image: url(../images/styled/text-bg.gif);
    border-color: #C30;
    background-position: left top;
}

.ext-strict .ext-webkit .one-widget-content-panel .x-small-editor .x-form-text,
.ext-strict .ext-webkit .one-widget-content-panel .x-form-text{
    height: 24px !important;
}

.one-widget-content-panel .x-form-field-wrap .x-form-trigger {
    width: 20px;
    height: 27px;
}

.one-widget-content-panel .x-form-field-wrap .x-form-trigger {
    background-image: url(../images/styled/trigger.png);
}

.one-widget-content-panel .x-form-field-wrap .x-form-date-trigger {
    background-image: url(../images/styled/date-trigger.png);
}

.one-widget-content-panel .x-form-field-wrap .x-form-trigger-over {
    background-position: -20px 0;
}

.one-widget-content-panel .x-form-field-wrap .x-form-date-trigger-over {
    background-position: -20px 0;
}

.one-widget-content-panel .x-form-field-wrap .x-form-trigger-click {
    background-position: -40px 0;
}

.one-widget-content-panel .x-trigger-wrap-focus .x-form-trigger {
    background-position: -60px 0;
}

.one-widget-content-panel .x-trigger-wrap-focus .x-form-trigger-over {
    background-position: -80px 0;
}

.one-widget-content-panel .x-trigger-wrap-focus .x-form-trigger-click {
    background-position: -100px 0;
}

.one-widget-content-panel .x-panel-bwrap {
    margin-top: 0;
}

.one-widget-content-panel .panel-collapsible .x-tool {
    overflow: hidden;
    width: 15px;
    height: 15px;
    float: right;
    cursor: pointer;
    position: absolute;
    left: 14px;
    top: 10px;
}

.one-widget-content-panel .x-form-item {
    margin-bottom: 8px;
}

.one-widget-content-panel .x-btn-noicon .x-btn-small .x-btn-text {
    height: 32px;
}

.one-widget-content-panel .x-tool {
    background-image: url(../images/styled/tool-sprites.png);
}

.one-widget-content-panel .x-tool-toggle {
    background-position: 0 -60px;
}

.one-widget-content-panel .x-tool-toggle-over {
    background-position: -15px -60px;
}

.one-widget-content-panel .x-panel-collapsed .x-tool-toggle {
    background-position: 0 -75px;
}

.one-widget-content-panel .x-panel-collapsed .x-tool-toggle-over {
    background-position: -15px -75px;
}

.one-widget-content-panel .x-form-item {
    font: normal 14px tahoma, arial, helvetica, sans-serif;
}

.x-toolbar-cell table.funnel {
    background-image: url(../icons/search.png);
    background-repeat: no-repeat;
    background-position: left center;
    width: 50px;
    height: 24px;
}

.one-widget-content-panel .ext-strict .ext-webkit .x-small-editor .x-form-text {
    height: 24px !important;
    padding: 0px;
}

.one-widget-content-panel .x-small-editor .x-form-field-wrap .x-form-trigger {
    height: 25px;
}

.one-widget-content-panel .btn-large button.x-btn-text {
    /*padding-top: 50px;*/
}

.one-widget-content-panel .x-panel-tbar .toolbar-app {
    border-bottom: 1px solid #93bed9 !important;
}

/*
.one-widget-content-panel .x-window-mc {
border: 1px solid #d1dbe2;
background: #d1e3ee;
}
.one-widget-content-panel .x-window-header-text {
font-family:Tahoma,Arial;
font-size:14px;
color: #5e5e5e;
font-weight:normal;
}
.one-widget-content-panel .x-window-tl .x-window-header {
}

.one-widget-content-panel .x-window-tl {
background-image: url(../images/styled/left-corners.png);
}
.one-widget-content-panel .x-window-tr {
background-image: url(../images/styled/right-corners.png);
}
.one-widget-content-panel .x-window-tc {
background-image: url(../images/styled/top-bottom.png);
}
*/

.one-widget-content-panel .x-panel-footer .x-panel-btns-center .x-btn-text {
    height: 18px;
}


/*Диалоговое окно*/
.x-window-tl,.x-window-bl {
    background-image: url(../images/styled/left-cor.png);
}

.x-window-tl {
    padding-left: 20px;
}

.x-window-tr,.x-window-br {
    background-image: url(../images/styled/right-cor.png);
    padding-right: 20px;
}

.x-window-tc, .x-window-bc {
    background-image: url(../images/styled/top-bottom.png);
}

.x-window-mr,.x-window-ml {
    background-image: url(../images/styled/left-right.png);
}

.x-window-mr {
    padding-right:10px;
}

.x-window-ml {
    padding-left:10px;
}

.x-window-mc {
    background:#e3eef5;
    border:none;
}

.x-window-br {
    padding-right:20px;
}

.x-window-bl {
    padding-left:20px;
}

.x-window-bc .x-window-footer {
    padding-bottom:20px;
}

.x-window-tl .x-window-header {
    font-size:14px;
    color:#5e5e5e;
    font-weight:normal;
    line-height:30px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.x-shadow  .xstl,.x-shadow  .xstc,.x-shadow  .xstr,.x-shadow  .xsml,.x-shadow  .xsmc,.x-shadow  .xsmr,.x-shadow  .xsbl,.x-shadow  .xsbc, .x-shadow .xsbr {
    background-image:url('../images/styled/shadow.png');
}

.x-panel-btns {
    padding:7px 0 0 0;
}

ul.x-tab-strip-top {
    background: #bed8e8 url(../images/styled/tab-strip-bg.gif) repeat-x left top;
    border-color: #bed8e8;
}

.btn-sex-f, .btn-sex-m {
    width: 32px;
    height: 26px;
}
.btn-sex-m button {
    background: url("../icons/male.png") no-repeat center;
    height: 32px;
    width: 32px;
}

.btn-sex-f button {
    background: url("../icons/female.png") no-repeat center;
    height: 32px;
    width: 32px;
}

.change-password-btn {
    margin-bottom: 8px;
    margin-left: 175px;
}

.change-password-btn tbody>tr>td>em>button {
    width: 200px !important;
    height: 22px !important;
}

.passport-top-panel div {
    overflow: visible;
}